.button {
    background-color: rgb(138, 34, 34);
}

#bun {
    background-color: rgb(255, 182, 86);
}

#lettuce {
    background-color: rgb(86, 156, 86);
}

#ketchup {
    background-color: rgb(138, 34, 34);
}

#meat {
    background-color: rgb(83, 47, 47);
}